NAMESPACE='approval'

EXTERNAL_REGISTRY_BASE_DOMAIN=102430194655.dkr.ecr.us-east-2.amazonaws.com
REPOSITORY_NAME='GROUP/PROJECT'
DOCKERFILE='Dockerfile'
DOCKERTAG=$EXTERNAL_REGISTRY_BASE_DOMAIN/$REPOSITORY_NAME

HELM_CHARTS=('charts/demo')
HELM_RELEASE_NAMES=('demo')
HELM_VALUES=('approval/approval')
HELM_TIMEOUTS=('600s')