NAMESPACE='testing'

EXTERNAL_REGISTRY_BASE_DOMAIN=nexdock.cellulant.co.ke
REPOSITORY_NAME='CICDGROUPNAME/CICDPROJECTNAME'
DOCKERFILE='Dockerfile'
DOCKERTAG=$EXTERNAL_REGISTRY_BASE_DOMAIN/$REPOSITORY_NAME

HELM_CHARTS=('charts/demo')
HELM_RELEASE_NAMES=('demo')
HELM_VALUES=('testing/test')
HELM_TIMEOUTS=('600s')